/* =================================================================
      written April 2019 by Cristal Fernett
    ================================================================= */
    html {

    }



/* ===========================================
      Author's custom styles
    =========================================== */
    body {
        width: 100%;
    }

    /* ------------------------------ Header ------------------------------ */
    .header-container {
        width: 100%;
        transform: translate(-1%);
        padding: 2%;
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
    .logo {
        width: 300px;
        margin: 0 10%;
    }
    .logo h2 {
        font: 27px Muli, Squada;
        color: #2c2a2b;
    }
    /* .logo a img {
        width: 300px;
        margin: 10px 0 0 120px;
        float: left;
    } */

    /* ------------------------------ main content ------------------------------ */
    .main-container {
        clear: both;
    }
   .main {
        clear: left;
        margin: 0 3% 0 2%;
        padding: 40px 20% 40px;
    }
   .welcome_image {
       margin: auto;
       width: 30%;
    }
   .main img {
       width: 100%;
    }
   .main h1 {
        font: 30px Muli, Squada;
        color: #0096cf;
        text-align: center;
    }
   .main p {
        font: 16px Muli, Squada;
        color: rgba(44, 42, 43, 1);
        text-align: center;
        top: 80px;
    }

   /* ------------------------------ Footer ------------------------------ */
   .footer-container {
        clear: right;
    }
   .footer-container footer {
        color: rgba(44, 42, 43, 1);
        padding: 20px 0;
        text-align: center;
    }
   .footer-container .wrapper {
       margin: 0 3% 0 2%;
    }
   .footer-container .wrapper .credit {
       margin: 3px 0;
    }
   .footer-container footer a {
       text-decoration: none;
       color: rgba(0, 150, 207, 1);
       font-weight: 600;
    }
   .footer-container footer a:hover {
       color: #fab33c;
    }
   .credit {
       color: rgba(44, 42, 43, 1);
       text-align: center;
       margin: 40px 0 34px 0;
       font: lighter 13px/26px Muli, Squada;
    }



/* ===========================================
      Media styles
    =========================================== */
    @media (min-width:320px)/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ (min-width:480px)/* smartphones, Android phones, landscape iPhone */ {

    }

    @media only screen and (max-width:599px) {

    }

    @media (min-width:600px) /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ {

    }

    @media (min-width:801px) /* tablet, landscape iPad, lo-res laptops ands desktops */ {

    }

    @media only screen and (min-width:600px) and (max-width:800px) {

    }

    @media (min-width:1025px) /* big landscape tablets, laptops, and desktops */ {

    }

    @media (min-width:1281px) /* hi-res laptops and desktops */ {

    }



/* ===========================================
      Print styles     * paged media/print preview *
    =========================================== */
    @media print {

    }
